@charset "utf-8";

*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-shadow: none;
    box-sizing: border-box;
    vertical-align: baseline;
    -webkit-transition-duration: 0s;
    transition-duration: 0s;
}

p, a, li, label, input, textarea, div, span {
    font-family: Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smothing: grayscale;
    text-rendering: optimizeLegibility;
    letter-spacing: 0;
}

.container {
    position: relative;
    padding: 0 15px;
    max-width: 1140px;
    margin: 0 auto;
}

.nav ul li a{
    text-decoration: none;
    display: inline-block;
}


header {
    min-width: 100%;
    background-color: #d94d3f;
    overflow: hidden;
}

header div{
    display: flex;
    justify-content: space-between;

}

.title {
    height: 56px;
    padding-left: 50px;
}

.title h1 {
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    line-height: 56px;
    letter-spacing: .4px;
    text-transform: uppercase;
}

nav {
    text-align: right;
    height: 0;
}

nav ul{
    list-style: none;
    font-size: 0;
}

nav ul li{ 
    display: inline;
    line-height: 56px;
    cursor: default;
}

nav ul li a{
    font-size:  17px;
    color: #fff;
    font-weight: 600;
    padding: 10px;
    text-decoration: none;
    letter-spacing: .2px;
    text-transform: none;
    cursor: pointer;
}

nav ul li a :hover{
    text-decoration: underline;
}

nav ul li + li{
    margin-left: 25px;
    
}

.mobile-nav{
    overflow: hidden;
}

.mobile-nav p i{
    margin-top: 18px;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}



